<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla
        voluptatem officia architecto doloremque porro minima ducimus ipsa sequi
        rerum debitis. Dignissimos saepe pariatur quas et a enim velit nihil
        iusto?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores
        asperiores laudantium inventore nam natus accusantium labore numquam.
        Nihil libero quam blanditiis repudiandae eligendi consequuntur.
        Blanditiis beatae repudiandae ipsam voluptate.
      </p>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
