<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>My blog wow!</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="blogs content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla
        voluptatem officia architecto doloremque porro minima ducimus ipsa sequi
        rerum debitis. Dignissimos saepe pariatur quas et a enim velit nihil
        iusto?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores
        asperiores laudantium inventore nam natus accusantium labore numquam.
        Nihil libero quam blanditiis repudiandae eligendi consequuntur.
        Blanditiis beatae repudiandae ipsam voluptate.
      </p>
    </div>
  </body>
</html>
